<template>
  <div class="section-container">
    <div class="internal-container">
      <div class="section-title">
        {{ title }}
      </div>
      <div class="activities-container">
        <activity-cell
          v-for="activity of activities"
          :imageSrc="activity.imageSrc"
          :title="activity.title"
          :type="activity.type"
          :location="activity.location"
        >
        </activity-cell>
      </div>
      <square-button style="margin-top: 16px">
        See more like this
      </square-button>
    </div>
  </div>
</template>
<script>
export default {
  props: ['title', 'activitiesJson'],
  computed: {
    activities() {
      try {
        return JSON.parse(this.activitiesJson)
      } catch (err) {
        console.log(err)
        console.log('Error parsing activities json')
        return []
      }
    }
  }
}
</script>
<style scoped>
.section-container {
  background-color: #3E383A;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0px;
  left: 0px;
}
.internal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.section-title {
  margin: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  align-self: flex-start;
}
.activities-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
</style>
