<template>
  <popup
    :on-cancel="onCancel"
  >
    <div class="signup-container">
      <activity-cell
        v-if="!$store.state.mobile"
        :title="title"
        :type="type"
        :location="location"
        :image-src="imageSrc"
        :mock="true"
      >
      </activity-cell>
      <div class="signup-internal-container">
        <div class="signup-header-text">
          Sign in or sign up<br /> to save your favorites.
        </div>
        <entry-field
          ref="emailInput"
          placeholder="Email address"
          v-model="email"
          style="margin-bottom: 20px; margin-top: 20px"
          :onEnter="submitClicked"
        >
        </entry-field>
        <square-button class="signup-button">
          {{ this.loading ? 'Loading...' : `Let's go!` }}
        </square-button>
        <div
          class="dark-text-link"
          v-on:click="this.notNowClicked"
        >
          not now.
        </div>
      </div>
      <div class="background-offset"></div>
    </div>
  </popup>
</template>
<script>
export default {
  props: ['onCancel', 'onComplete', 'imageSrc', 'title', 'type', 'location'],
  mounted() {
    this.$refs.emailInput.focus()
  },
  methods: {
    notNowClicked() {
      ;(this.onCancel && this.onCancel())
    },
    async submitClicked() {
      try {
        if (this.loading) return
        this.loading = true
        const { data: { email_status } } = await axios.post(
          'https://www.galactivity.com/login/email/validate',
          `email=${this.email.trim()}`
        )
        this.onComplete(email_status === 'true', this.email.trim())
      } catch (err) {
        console.log(err)
        console.log('Error checking email')
      } finally {
        this.loading = false
      }
    }
  },
  data() {
    return {
      email: '',
      loading: false,
    }
  }
}
</script>
<style scoped>
.background-offset {
  position: absolute;
  top: 8px;
  left: -8px;
  right: 8px;
  bottom: -8px;
  background-color: rgba(244, 186, 99, 0.8);
  z-index: -999;
}
.signup-container {
  background-color: #333B3F;
  display: flex;
  position: relative;
  max-width: 80vw;
}
.signup-internal-container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 407px;
  max-width: 100%;
}
.signup-header-text {
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
  color: white;
  font-weight: bold;
  align-self: flex-start;
}
.signup-button {
  background-color: #68AEFA;
  color: #231F20;
  width: 100%;
  height: 54px;
  font-weight: bold;
}
.dark-text-link {
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  margin: 20px;
  cursor: pointer;
}
</style>
