<template>
  <div
    class="container"
    @mouseover="active = true"
    @mouseleave="active = false"
    :style="{
      boxShadow: active ?
        '2px 2px 0px rgba(244, 186, 99, 0.47)' : undefined,
      margin: $store.state.mobile ? '16px' : '16px',
      width: $store.state.mobile ? '390px' : '340px',
    }"
  >
    <div class="image-container">
      <div class="image" :style="{
        backgroundImage: `url('${imageSrc}')`,
      }"></div>
      <heart-button
        :style="{
          position: 'absolute',
          right: '12px',
          bottom: '9px',
        }"
        :like-clicked="this.likeClicked"
        :mock="mock"
      >
      </heart-button>
    </div>
    <div class="text-container">
      <div class="title">
        {{ title || 'Activity name goes in this box.' }}
      </div>
      <div class="type-text">
        {{ type || 'Type of activity' }}
      </div>
      <div class="location-text">
        {{ location || 'City, ST' }}
      </div>
    </div>
    <auth-modal
      v-if="showingPopup"
      :onCancel="this.cancelClicked"
      :onComplete="this.cancelClicked"
      :activity="{
        title,
        type,
        location,
        imageSrc,
      }"
      >
    </auth-modal>
  </div>
</template>
<script>
  export default {
    props: ['mock', 'imageSrc', 'title', 'type', 'location'],
    methods: {
      likeClicked() {
        if (this.mock) return
        this.showingPopup = true
      },
      cancelClicked() {
        this.showingPopup = false
      }
    },
    data() {
      return { active: false, showingPopup: false, }
    },
  }
</script>
<style scoped>
.container {
  background-color: #4F4F4F;
  display: flex;
  flex-direction: column;
  min-height: 448px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.image-container {
  margin-bottom: 12px;
  position: relative;
}
.image {
  position: relative;
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-container {
  padding-left: 16px;
  padding-right: 16px;
}
.title {
  font-size: 30px;
  line-height: 28px;
  color: white;
  margin-bottom: 12px;
}
.type-text {
  font-size: 22.75px;
  line-height: 36px;
  font-weight: bold;
  color: #F4BA63;
  margin-bottom: 12px;
}
.location-text {
  font-size: 14px;
  line-height: 22px;
  color: white;
  margin-bottom: 16px;
}
</style>
