<template>
  <div class="container">
    <div class="activity-header-title">
      A galaxy of fun awaits in <span class="city-text">Dallas</span>.
    </div>
    <div style="position: relative; margin: 24px; margin-bottom: 94px;">
      <input
        class="search-field"
        type="text"
        placeholder="Current Location"
      />
      <img
        class="search-icon"
        src="/search_icon.png"
      />
    </div>
    <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center">
      <button-selector
        :options="[
          'Featured',
          'Map',
          'For You',
        ]"
        v-model="selectedIndex"
      >
      </button-selector>
      <div style="display: flex">
        <drop-selector
          style="width: 135px"
          title="Any price"
          details="Price per person"
          :options="[
            'Free',
            'Under $10',
            'Under $20',
            'Under $50',
          ]"
        >
        </drop-selector>
        <div style="width: 16px;"></div>
        <drop-selector
          style="width: 135px"
          title="All Ages"
          :options="[
            'Young children',
            'Young adult',
            '18+',
          ]"
        >
        </drop-selector>
        <div style="width: 16px;"></div>
        <drop-selector
          style="width: 135px"
          title="All Categories"
          :options="[
            'Nature',
            'Sports',
            'Dining',
            'Wellness',
            'Shopping',
            'Gyms',
            'For Children',
            'Amusement Park',
            'Movies',
            'Museums',
            'Landmarks',
            'Arcade',
            'Entertainment',
            'Bowling',
            'Night Life',
            'Camping',
            'Water Related',
            'Park',
            'Bar',
            'Club',
          ]"
        >
        </drop-selector>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      selectedIndex: 0,
    }
  }
}
</script>
<style scoped>
.container {
  margin: auto;
  width: 95vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::placeholder {
  color: white;
}
.activity-header-title {
  margin-top: 94px;
  font-size: 30px;
  line-height: 40px;
  color: white;
}
.city-text {
  font-weight: bold;
}
.search-field {
  font-family: Montserrat;
  background-color: #828282;
  border-radius: 20px;
  color: white;
  border: 0px;
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
  padding-left: 52px;
  outline: none;
}
.search-icon {
  position: absolute;
  left: 9px;
  top: calc((100% - 24px) / 2);
  width: 36px;
  height: 24px;
}
</style>
