<template>
  <div style="position: absolute">
    <sign-up-email-modal
      v-if="state === 0 && !activity"
      :onCancel="onCancel"
      :onComplete="emailComplete"
    >
    </sign-up-email-modal>
    <activity-sign-up-modal
      v-if="state === 0 && activity"
      :onCancel="onCancel"
      :onComplete="emailComplete"
      :title="activity.title"
      :type="activity.type"
      :location="activity.location"
      :image-src="activity.imageSrc"
    >
    </activity-sign-up-modal>
    <sign-in-modal
      v-if="state === 1"
      :onCancel="this.onCancel"
      :onForgotPassword="this.forgotPassword"
      :email="this.email"
    >
    </sign-in-modal>
    <sign-up-modal
      v-if="state === 2"
      :onCancel="() => { this.state = 0 }"
      :email="this.email"
    >
    </sign-up-modal>
    <forgot-password-modal
      v-if="state === 3"
    >
    </forgot-password-modal>
  </div>
</template>
<script>
export default {
  props: ['onCancel', 'onComplete', 'activity'],
  methods: {
    // Check email and show either sign in or sign up
    emailComplete(exists, email) {
      this.email = email
      if (exists) {
        this.state = 1
      } else {
        this.state = 2
      }
    },
    forgotPassword() {
      // show forgot password
      this.state = 3
    }
  },
  data() {
    return {
      // 0 = collecting email, 1 = signing in, 2 = signing up, 3 = forgot password
      state: 0,
      email: '',
    }
  }
}
</script>
<style scoped>
</style>
