<template>
  <div>
    <div v-if="!$store.state.mobile" class="business-container">
      <img class="business-image" src="/business.svg" />
      <div style="flex: 1; min-width: calc(12% + 150px)"></div>
      <div class="business-text-container">
        <div class="business-title">
          Are you a business owner?
        </div>
        <div class="business-subtitle">
          Galactivity offers competitive advertisement plans for your business size.
        </div>
        <round-button class="business-pricing-button">
          Check out pricing
        </round-button>
      </div>
    </div>
    <div v-if="$store.state.mobile" class="business-container-mobile">
      <img src="/business_mobile.svg" />
      <div class="business-title-mobile">
        Are you a business owner?
      </div>
      <div class="business-text-mobile">
        Galactivity offers competitive advertisement plans for your business size.
      </div>
      <round-button class="business-pricing-button-mobile">
        Check out pricing
      </round-button>
    </div>
  </div>
</template>
<script>
export default {

}
</script>
<style scoped>
.business-container {
  height: 610px;
  display: flex;
  position: relative;
}
.business-image {
  margin-left: 20px;
  max-width: 1259px;
  min-width: 400px;
  margin-top: 80px;
  width: 80%;
}
.business-text-container {
  position: absolute;
  top: 162px;
  right: 12%;
  max-width: 409px;
}
.business-title {
  font-size: 48px;
  line-height: 52px;
  color: white;
}
.business-subtitle {
  font-size: 20px;
  line-height: 28px;
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
}
.business-pricing-button {
  width: 205px;
}
.business-container-mobile {
  margin-top: -40px;
  /* min-height: 456px; */
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px;
}
.business-title-mobile {
  font-size: 20px;
  line-height: 28px;
  color: white;
  margin-top: 32px;
  font-weight: bold;
}
.business-text-mobile {
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-top: 16px;
  margin-bottom: 40px;
}
.business-pricing-button-mobile {
  align-self: center;
  width: 160px;
  margin-top: 16px;
}
</style>
