<template>
  <div style="display: flex">
    <div
      v-for="[index, text] of Object.entries(options)"
      class="selection-button"
      :style="{
        margin: (index === 0 || index === options.length - 1) ? '0px' : undefined,
        backgroundColor: +value === +index ? '#68AEFA' : undefined,
      }"
      v-on:click="$emit('input', index)"
    >
      <div class="selection-button-text">
        {{ text }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['options', 'value'],
}
</script>
<style scoped>
.selection-button {
  padding: 10px;
  border-radius: 52px;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 138px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.selection-button-text {
  color: #231F20;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  user-select: none;
}
</style>
