<template>
  <div
    class="select-option"
    v-on:mouseover="isActive = true"
    v-on:mouseleave="isActive = false"
    :style="{
      background: isActive ? '#787878' : undefined,
    }"
    v-on:click="clicked"
  >
    {{ text }}
  </div>
</template>
<script>
export default {
  props: ['text', 'onSelected'],
  methods: {
    clicked(e) {
      e.stopPropagation()
      if (typeof this.onSelected === 'function') {
        this.onSelected()
      }
    },
  },
  data() {
    return {
      isActive: false,
    }
  }
}
</script>
<style scoped>
.select-option {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  font-size: 14px;
  line-height: 22px;
}
</style>
