<template>
  <div
    class="select-container"
    v-on:click="isExpanded = !isExpanded"
    :style="{
      ...(isExpanded ? {
        borderBottomLeftRadius: '0px',
        borderBottomRightRadius: '0px',
        borderBottom: '1px solid rgba(0,0,0,0)',
      } : {})
    }"
    v-on:mouseover="mouseEntered()"
    v-on:mouseleave="mouseLeft()"
  >
    <img class="select-arrow" src="/down_arrow.png" />
    <div class="select-title">
      {{ title }}
    </div>
    <div
      class="select-option-container"
      v-if="isExpanded"
      :style="{
        maxHeight: `${6 * 38 + (details ? 32 : 0)}px`,
        overflowY: 'auto',
      }"
    >
      <div class="select-divider"></div>
      <div v-if="details" class="select-details">
        {{ details }}
      </div>
      <drop-selector-option
        v-for="[index, text] of Object.entries(options)"
        :key="index"
        :text="text"
        :onSelected="() => { isExpanded = false }"
      >
      </drop-selector-option>
    </div>
  </div>
</template>
<script>
export default {
  props: ['title', 'details', 'options'],
  methods: {
    mouseEntered() {
      if (this.timer) {
        clearInterval(this.timer)
        this.timer = null
      }
    },
    mouseLeft() {
      if (this.timer) return
      this.timer = setTimeout(() => {
        this.isExpanded = false
      }, 500)
    }
  },
  data() {
    return {
      timer: null,
      isExpanded: false
    }
  }
}
</script>
<style scoped>
.select-container {
  background: #828282;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  position: relative;
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
}
.select-arrow {
  position: absolute;
  right: 15px;
  width: 14px;
  height: 8px;
  top: calc((100% - 8px) / 2);
}
.select-divider {
  align-self: center;
  width: 90%;
  height: 1px;
  background: #E0E0E0;
  margin-bottom: 2px;
}
.select-details {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.select-title {
  color: white;
  font-size: 14px;
  line-height: 22px;
  margin-right: 24px;
}
.select-option-container {
  z-index: 10000;
  position: absolute;
  top: calc(100% - 1px);
  left: -1px;
  right: -1px;
  background: #828282;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 1px solid rgba(0,0,0,0);
  display: flex;
  flex-direction: column;
}
</style>
