<template>
  <div class="entry-container">
    <div
      v-if="showingLabelText"
      class="entry-label"
    >
      {{ this.label }}
    </div>
    <div
      v-if="this.isPassword"
      class="password-show"
      v-on:click="showingPassword = !showingPassword"
    >
      <img v-if="showingPassword" src="/password_hide.png" style="width: 100%; height: 100%" />
      <img v-if="!showingPassword" src="/password_show.png" style="width: 100%; height: 100%" />
    </div>
    <input
      ref="input"
      class="entry"
      :type="isPassword && !showingPassword ? 'password' : 'text'"
      :placeholder="placeholder"
      :value="value"
      @input="updateValue()"
      v-on:keydown.enter="enterPressed"
      :readonly="readonly"
      :style="{
        paddingTop: showingLabelText ? '24px' : undefined,
        paddingBottom: showingLabelText ? '8px' : undefined,
        backgroundColor: this.readonly ? '#C4C4C4' : undefined,
        color: this.readonly ? 'black' : undefined,
      }"
      >
    </input>
  </div>
</template>
<script>
export default {
  props: [
    'label',
    'placeholder',
    'isPassword',
    'onEnter',
    'value',
    'readonly',
  ],
  computed: {
    showingLabelText() {
      return this.label && this.value.trim().length > 0 || this.readonly
    }
  },
  methods: {
    enterPressed() {
      if (typeof this.onEnter === 'function') {
        this.onEnter()
      }
    },
    updateValue() {
      this.$emit('input', this.$refs.input.value)
    },
    focus() {
      this.$refs.input.focus()
    }
  },
  data() {
    return {
      showingPassword: false,
    }
  }
}
</script>
<style scoped>
.entry-container {
  position: relative;
  width: 100%;
}
.entry {
  padding: 16px;
  height: 22px;
  width: calc(100% - 32px);
  font-size: 16px;
  color: #231F20;
  border-radius: 0px;
  background-color: #E9F0FD;
  border: 1px solid #C4C4C4;
}
.entry-label {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 10px;
  color: #4f4f4f;
}
.password-show {
  position: absolute;
  right: -2px;
  top: 0px;
  bottom: 0px;
  width: 51px;
  cursor: pointer;
}
</style>
