<template>
  <div>
    <div v-if="!$store.state.mobile" class="featured-container">
      <div style="margin-bottom: 40px; display: flex; align-items: flex-end">
        <div class="featured-title">
          Featured
        </div>
        <div class="featured-subtitle">
          activities this week
        </div>
      </div>
      <featured-slider
        :activities="activities"
        style="margin-left: calc(11% - 8px)"
        >
      </featured-slider>
    </div>
    <div v-if="$store.state.mobile" class="featured-container-mobile">
      <div
        v-for="activity of activities"
        class="featured-tile-mobile"
        :style="{
          background: `url('${activity.imageSrc}') no-repeat`,
          backgroundSize: 'cover',
          backgroundPosition: 'center bottom',
        }"
      >
        <div class="featured-tile-interior">
          <div class="featured-tile-interior-opaque"></div>
          <div class="activity-title-mobile">
            {{ activity && activity.title || 'Name of place, with an additional bit to test the wrap' }}
          </div>
          <div class="activity-type-mobile">
            {{ activity && activity.type || 'Type of activity'}}
          </div>
          <div class="activity-location-mobile">
            {{ activity && activity.location || 'City, ST' }}
          </div>
          <div class="activity-description-mobile">
            {{ activity && activity.description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo ac, placerat est donec interdum neque tristique. Ultricies luctus maecenas.'}}
          </div>
          <div class="learn-more-button-mobile">
            <div class="learn-more-text">
              Learn more
            </div>
          </div>
        </div>
      </div>
      <div class="featured-title-mobile">
        <div style="width: 100%; display: flex; align-items: flex-end;">
          <div class="featured-title">
            Featured
          </div>
          <div class="featured-subtitle">
            activities this week
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['activitiesJson'],
  computed: {
    activities() {
      try {
        return JSON.parse(this.activitiesJson)
      } catch (err) {
        console.log(err)
        console.log('Error parsing featured activities json')
        return []
      }
    }
  }
}
</script>
<style scoped>
.featured-container {
  height: 720px;
  padding-top: 80px;
  color: white;
}
.featured-title {
  font-size: 20px;
  line-height: 28px;
  margin-left: 11%;
  font-weight: bold;
}
.featured-subtitle {
  font-size: 14px;
  line-height: 22px;
  margin-left: 6px;
}
.featured-container-mobile {
  padding-top: 41px;
  position: relative;
  min-height: 100px;
  background-color: #231F20;
}
.featured-title-mobile {
  position: absolute;
  height: 33px;
  top: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(180deg, #F4BA63 0%, #F4BA63 91.33%);
  display: flex;
  align-items: center;
  color: black;
}
.featured-tile-mobile {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  border: 1px solid #F4BA63;
}
.featured-tile-interior {
  margin-top: 115px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: rgba(35, 31, 32, 0.9);
  min-width: 248px;
  max-width: 400px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}
.featured-tile-interior-opaque {
  background-color: rgba(35, 31, 32, 1);
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
}
.activity-title-mobile {
  font-size: 16px;
  line-height: 24px;
  color: white;
  z-index: 1;
}
.activity-type-mobile {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #F4BA63;
  margin-top: 4px;
  margin-bottom: 4px;
  z-index: 1;
}
.activity-location-mobile {
  font-size: 14px;
  line-height: 22px;
  color: white;
  z-index: 1;
}
.activity-description-mobile {
  font-size: 14px;
  line-height: 22px;
  color: white;
  margin-top: 22px;
  z-index: 1;
}
.learn-more-button-mobile {
  background: black;
  border: 1px solid #F2F2F2;
  height: 36px;
  color: #F2F2F2;
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.learn-more-text {
  font-size: 16px;
  line-height: 24px;
}
</style>
