<template>
  <div
    class="featured-cell-container"
    v-on:click="activated()"
  >
    <img width="100%" height="100%" :src="(activity && activity.imageSrc)" />
    <div class="featured-info-container">
      <div style="display: flex; align-items: center">
        <div class="featured-info-title">
          {{ activity && activity.title || 'Name of place' }}
        </div>
        <heart-button
          style="margin-right: 32px"
          :like-clicked="this.likeClicked"
        >
      </heart-button>
      </div>
      <div class="featured-info-type">
        {{ activity && activity.type || 'Type of activity'}}
      </div>
      <div class="featured-info-location">
        {{ activity && activity.location || 'City, ST' }}
      </div>
      <div class="featured-info-description">
        {{ activity && activity.description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo ac, placerat est donec interdum neque tristique. Ultricies luctus maecenas.'}}
      </div>
      <square-button style="align-self: center">
        Learn more
      </square-button>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['activity', 'activated', 'onLike'],
    methods: {
      likeClicked() {
        ;(this.onLike && this.onLike())
      },
    },
  }
</script>
<style scoped>
.featured-cell-container {
  width: 1200px;
  min-width: 1200px;
  height: 508px;
  position: relative;
  background-color: #C4C4C4;
  margin-left: 8px;
  margin-right: 8px;
  flex: 1;
}
.featured-info-container {
  position: absolute;
  left: 112px;
  top: 119px;
  background-color: #4F4F4F;
  min-height: 405px;
  display: flex;
  flex-direction: column;
}
.featured-info-title {
  font-size: 30px;
  line-height: 40px;
  margin: 32px;
  color: white;
}
.featured-info-type {
  margin-top: 14px;
  margin-left: 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #F4BA63;
}
.featured-info-location {
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-left: 32px;
}
.featured-info-description {
  font-size: 16px;
  line-height: 24px;
  color: white;
  max-width: 236px;
  margin-left: 32px;
  margin-top: 24px;
  margin-bottom: 45px;
}
</style>
