<template>
  <div>
    <div
      :style="{
        display: 'flex',
        flexDirection: 'row',
        flexWrap: 'nowrap',
        flex: 1,
        transform: `translate(${-1 * +visibleCell * 1200}px, 0px)`,
        transition: '0.3s ease-in-out',
        overflowX: 'visible',
      }"
    >
      <featured-cell
        v-for="(activity, index) in activities"
        :activity="activity"
        :on-like="() => activityLiked(index)"
        :key="index"
        :activated="() => {
          if (index === visibleCell && visibleCell + 1 < activities.length) {
            visibleCell++
          } else {
            visibleCell = index
          }
        }"
      >
      </featured-cell>
    </div>
    <auth-modal
      v-if="showingPopup"
      :onCancel="cancelClicked"
      :onComplete="cancelClicked"
      :activity="activities[activityIndex]"
    >
    </auth-modal>
  </div>
</template>
<script>
  export default {
    props: ['activities'],
    methods: {
      activityLiked(index) {
        this.showingPopup = true
        this.activityIndex = index
      },
      cancelClicked() {
        this.showingPopup = false
      },
    },
    data() {
      return {
        visibleCell: 0,
        showingPopup: false,
      }
    }
  }
</script>
<style scoped>
</style>
