<template>
  <div
    class="footer-container"
    :style="{
      height: $store.state.mobile ? '149px' : '80px'
    }"
  >
    <img
      style="margin-left: 16px; width: auto; height: 80%; max-height: 59px"
      src="/logo_white_no_text.png"
    />
    <div
      :style="{
        marginRight: '16px',
        marginTop: '20px',
        marginBottom: '20px',
        display: 'flex',
        flexDirection: $store.state.mobile ? 'column' : 'row',
      }"
    >
      <footer-link>
        About
      </footer-link>
      <footer-link>
        Terms & Conditions
      </footer-link>
      <footer-link>
        Privacy Policy
      </footer-link>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<style scoped>
.footer-container {
  background-color: #181518;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
