<template>
  <div
    class="footer-link"
    :style="{
      textAlign: $store.state.mobile ? 'right' : 'left',
    }"
  >
    <slot></slot>
  </div>
</template>
<script>
</script>
<style scoped>
.footer-link {
  font-size: 16px;
  line-height: 24px;
  color: white;
  cursor: pointer;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
</style>
