<template>
  <popup>
    <div
      class="forgot-password-internal-container"
      :style="{
        minWidth: $store.state.mobile ? undefined : '407px',
      }"
    >
      <div class="forgot-password-header-text">
        Check your inbox
      </div>
      <div v-if="!sending" class="forgot-password-subheader-text">
        You’ve been sent an email with instructions for resetting your password.
      </div>
      <div v-if="sending" class="forgot-password-subheader-text">
        Sending email...
      </div>
      <square-button class="forgot-password-button" :onClick="submitClicked">
        Go to Galactivity home
      </square-button>
      <div class="background-offset"></div>
    </div>
  </popup>
</template>
<script>
export default {
  async mounted() {
    await new Promise(r => setTimeout(r, 1500))
    this.sending = false
  },
  methods: {
    submitClicked() {
      window.location.href = "https://galactivity.com/activities"
    }
  },
  data() {
    return {
      sending: true,
    }
  }
}
</script>
<style scoped>
.background-offset {
  position: absolute;
  top: 8px;
  left: -8px;
  right: 8px;
  bottom: -8px;
  background-color: rgba(244, 186, 99, 0.8);
  z-index: -999;
}
.forgot-password-internal-container {
  background-color: #333B3F;
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(80vw - 64px);
  min-width: 220px;
}
.forgot-password-header-text {
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
  color: white;
  font-weight: bold;
}
.forgot-password-subheader-text {
  font-size: 14px;
  line-height: 22px;
  color: white;
  max-width: calc(100% - 32px);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.forgot-password-button {
  background-color: #68AEFA;
  color: #231F20;
  width: 100%;
  height: 54px;
  font-weight: bold;
}
</style>
