<template>
  <div
    class="header-container"
    :style="{
      height: $store.state.mobile ? '45px' : '80px',
      paddingLeft: $store.state.mobile ? '16px' : '32px',
      paddingRight: $store.state.mobile ? '16px' : '32px',
    }"
  >
    <header-image
      href="/welcome_new.php"
    ></header-image>
    <div class="header-links">
      <header-link
        href="/activities.php"
      >
        Activities
      </header-link>
      <header-link
        v-if="!_authed"
        :onClick="() => {showingSignUp = true}"
      >
        Sign In
      </header-link>
      <header-link
        href='/userlanding'
        v-if="_authed"
      >
        Dashboard
      </header-link>
    </div>
    <auth-modal
      v-if="this.showingSignUp"
      :on-cancel="this.cancelClicked"
    >
  </auth-modal>
  </div>
</template>
<script>
export default {
  props: ['authed'],
  computed: {
    _authed() {
      return this.authed === 'true'
    }
  },
  methods: {
    cancelClicked() {
      this.showingSignUp = false
    }
  },
  data() {
    return {
      showingSignUp: false,
    }
  }
}
</script>
<style scoped>
.header-container {
  border-bottom: 1px solid #4F4F4F;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #181518;
}
.header-links {
  display: flex;
  align-items: center;
}
</style>
