<template>
  <div
    class="title-link"
    :style="{
      borderBottom: active ? '5px solid #68AEFA' : '0px solid #000',
      paddingBottom: active ? '0px' : '5px',
    }"
    v-on:click="linkClicked"
    @mouseover="active = true"
    @mouseleave="active = false"
  >
    <slot></slot>
  </div>
</template>

<script>
  export default {
    props: ['href', 'onClick'],
    data() {
      return { active: false }
    },
    methods: {
      linkClicked() {
        if (typeof this.onClick === 'function') {
          this.onClick()
          return
        }
        if (!this.href) return
        window.location.href = this.href
      }
    }
  }
</script>
<style scoped>
.title-link {
  font-size: 16px;
  line-height: 24px;
  color: white;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
}
</style>
