<template>
  <img
    src="/logo_white.png"
    :style="{
      transform: active ? 'scale(1.1, 1.1)' : 'none',
      transition: '0.3s ease-in-out',
      cursor: 'pointer',
      width: $store.state.mobile ? '121px' : '149px',
      height: $store.state.mobile ? '25px' : '30px',
    }"
    v-on:click="linkClicked"
    @mouseover="active = true"
    @mouseleave="active = false"
  />
</template>
<script>
  export default {
    props: ['href'],
    methods: {
      linkClicked() {
        if (!this.href) return
        window.location.href = this.href
      }
    },
    data() {
      return { active: false }
    }
  }
</script>
<style scoped>
</style>
