<template>
  <img
    class="heart-button"
    :src="(mock || liked) ? '/heart_icon_active.png' : '/heart_icon.png'"
    v-on:click="likeChanged"
  />
</template>
<script>
export default {
  props: ['mock', 'likeClicked'],
  methods: {
    async likeChanged(e) {
      e.stopPropagation()
      // Example async/await promise that waits 800 ms
      // then continues the method
      ;(this.likeClicked && this.likeClicked())
      await new Promise(r => setTimeout(r, 800))

      // Put some logic here, wrap it in try catch to make sure the heart
      // doesn't end up in an inconsistent state
      // better yet is a variable tracking if an operation is underway
      // e.g. if (this.likeActive) return
      if (this.liked) {
        // Unliking the event
      } else {
        // Liking the event
      }
      // ui will be updated in next render loop
      // Move this wherever you need
      // e.g. perform network operation, then change liked value
      this.liked = !this.liked
    },
  },
  data() {
    return { liked: false }
  },
}
</script>
<style scoped>
.heart-button {
  height: 28px;
  width: 28px;
  cursor: pointer;
}
</style>
