<template>
  <div>
    <div v-if="!$store.state.mobile" class="nearby-container">
      <div style="flex: 1; min-width: calc(12% + 300px); max-width: 641px;"></div>
      <img class="nearby-image" src="/nearby.svg" />
      <div style="flex: 1; max-width: 213px;"></div>
      <div class="nearby-text-title">
        Nearby
      </div>
      <div class="nearby-text-subtitle">
        Unlock local search with a Galactivity account
      </div>
      <round-button
        class="nearby-signup"
        highlight-shadow="-2px 2px 0px rgba(0, 0, 0, 0.47)"
        :on-click="this.signupClicked"
      >
        Sign Up
      </round-button>
    </div>
    <div v-if="$store.state.mobile" class="nearby-container-mobile">
      <div class="nearby-title-mobile">
        Nearby
      </div>
      <div class="nearby-subtitle-mobile">
        Unlock local search with a Galactivity account.
      </div>
      <img class="nearby-image-mobile" src="/nearby_mobile.svg" />
      <round-button
        class="nearby-signup-mobile"
        highlight-shadow="-2px 2px 0px rgba(0, 0, 0, 0.47)"
        :on-click="this.signupClicked"
      >
        Sign Up
      </round-button>
    </div>
    <auth-modal
      v-if="this.showingPopup"
      :on-cancel="this.cancelClicked"
    >
    </auth-modal>
  </div>
</template>
<script>
export default {
  methods: {
    signupClicked() {
      this.showingPopup = true
    },
    cancelClicked() {
      this.showingPopup = false
    }
  },
  data() {
    return { showingPopup: false }
  }
}
</script>
<style scoped>
.nearby-container {
  height: 569px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #F4BA63;
  position: relative;
}
.nearby-image {
  margin-left: 78px;
  margin-bottom: 71px;
  margin-top: 70px;
}
.nearby-text-title {
  position: absolute;
  top: 93px;
  left: 12%;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #231F20;
}
.nearby-text-subtitle {
  position: absolute;
  top: 137px;
  left: 12%;
  font-size: 48px;
  line-height: 52px;
  color: #231F20;
  max-width: 497px;
}
.nearby-signup {
  position: absolute;
  top: 371px;
  left: 12%;
  background-color: #575A89;
  color: white;
  width: 160px;
  /* width: 196px; */
}
.nearby-signup-mobile {
  align-self: center;
  background-color: #575A89;
  color: white;
  width: 160px;
  margin-top: 16px;
}
.nearby-container-mobile {
  height: 507px;
  display: flex;
  flex-direction: column;
  background-color: #F4BA63;
  position: relative;
  padding-left: 10px;
  padding-top: 24px;
}
.nearby-title-mobile {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  color: #231F20;
}
.nearby-subtitle-mobile {
  margin-top: 8px;
  font-size: 20px;
  line-height: 28px;
  color: #231F20;
  max-width: 350px;
}
.nearby-image-mobile {
  margin-top: 24px;
  margin-bottom: 16px;
  transform: scale(1.2, 1.2) translate(-5%, 0);
}
</style>
