<template>
  <div
    class="popup-container"
    v-on:click="this.backgroundClick"
  >
    <div v-on:click="this.clickGuard">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: ['onCancel'],
  methods: {
    clickGuard(e) {
      e.stopPropagation()
    },
    backgroundClick(e) {
      ;(this.onCancel && this.onCancel())
    }
  }
}
</script>
<style scoped>
.popup-container {
  background-color: rgba(35, 31, 32, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
</style>
