<template>
  <div>
    <div v-if="!$store.state.mobile" class="popular-container">
      <div style="margin-bottom: 12px; display: flex; align-items: flex-end">
        <div class="popular-title">
          Popular
        </div>
        <div class="popular-subtitle">
          this week
        </div>
      </div>
      <div class="popular-cell-container">
        <activity-cell
          v-for="(activity, index) of activities"
          :image-src="activity.imageSrc"
          :key="index"
        >
        </activity-cell>
      </div>
      <round-button
        class="popular-button"
        :on-click="seeMoreClicked"
      >
        See more
      </round-button>
    </div>
    <div v-if="$store.state.mobile" class="popular-container-mobile">
      <div style="height: 80px">
        <!-- spacer -->
      </div>
      <activity-cell
        v-for="(activity, index) of activities.slice(0, 4)"
        :image-src="activity.imageSrc"
        :key="index"
      >
      </activity-cell>
      <round-button
        class="popular-button"
        :on-click="seeMoreClicked"
      >
        See more
      </round-button>
      <div class="popular-title-mobile">
        <div style="width: 100%; display: flex; align-items: flex-end">
          <div class="popular-title">
            Popular
          </div>
          <div class="popular-subtitle">
            this week
          </div>
        </div>
      </div>
    </div>
    <auth-modal
      v-if="this.showingPopup"
      :on-cancel="this.cancelClicked"
    >
    </auth-modal>
  </div>
</template>
<script>
export default {
  props: ['activitiesJson'],
  computed: {
    activities() {
      try {
        return JSON.parse(this.activitiesJson)
      } catch (err) {
        console.log(err)
        console.log('Error parsing popular section activities')
        return []
      }
    }
  },
  methods: {
    seeMoreClicked() {
      this.showingPopup = true
    },
    cancelClicked() {
      this.showingPopup = false
    },
  },
  data() {
    return {
      showingPopup: false,
    }
  },
}
</script>
<style scoped>
.popular-container {
  min-height: 481px;
  display: flex;
  flex-direction: column;
  color: white;
}
.popular-container-mobile {
  min-height: 481px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.popular-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  margin-left: 11%;
}
.popular-subtitle {
  font-size: 14px;
  line-height: 22px;
  margin-left: 6px;
}
.popular-cell-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: calc(11% - 28px);
  margin-right: calc(11% - 28px);
}
.popular-button {
  width: 160px;
  margin-top: 52px;
  margin-bottom: 80px;
  align-self: center;
}
.popular-title-mobile {
  position: absolute;
  height: 33px;
  top: 33px;
  left: 0px;
  right: 0px;
  background: #68AEFA;
  display: flex;
  align-items: center;
  color: #231F20;
}
</style>
