<template>
  <div
    class="round-button"
    :style="{
      boxShadow: active ? (highlightShadow || '-2px 2px 0px rgba(244, 186, 99, 0.4)') : undefined,
    }"
    @mouseover="active = true"
    @mouseleave="active = false"
    v-on:click="this.buttonClicked"
  >
    <slot></slot>
  </div>
</template>
<script>
  export default {
    props: ['highlightShadow', 'onClick'],
    methods: {
      buttonClicked() {
        ;(this.onClick && this.onClick())
      }
    },
    data() {
      return { active: false }
    },
  }
</script>
<style scoped>
.round-button {
  border-radius: 52px;
  background: #68AEFA;
  height: 48px;
  min-width: 52px;
  color: #231F20;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 34px;
  padding-right: 34px;
}
</style>
