<template>
  <popup>
    <div
      class="signup-email-internal-container"
      :style="{
        minWidth: $store.state.mobile ? undefined : '407px',
      }"
    >
      <div class="signup-email-header-text">
        Sign in or sign up.
      </div>
      <entry-field
        ref="emailInput"
        placeholder="Email address"
        v-model="email"
        :onEnter="submitClicked"
        style="margin-bottom: 20px; margin-top: 20px;"
      >
    </entry-field>
      <square-button class="signup-email-button" :onClick="submitClicked">
        {{ this.loading ? 'Loading...' : `Let's go!` }}
      </square-button>
      <div
        class="dark-text-link"
        v-on:click="this.notNowClicked"
      >
        Skip for now
      </div>
      <div class="background-offset"></div>
    </div>
  </popup>
</template>
<script>
export default {
  props: ['onCancel', 'onComplete'],
  data() {
    return {
      loading: false,
      email: '',
    }
  },
  mounted() {
    this.$refs.emailInput.focus()
  },
  methods: {
    async submitClicked() {
      try {
        if (this.loading) return
        this.loading = true
        const { data: { email_status } } = await axios.post(
          'https://www.galactivity.com/login/email/validate',
          `email=${this.email.trim()}`
        )
        this.onComplete(email_status === 'true', this.email.trim())
      } catch (err) {
        console.log(err)
        console.log('Error checking email')
      } finally {
        this.loading = false
      }
    },
    notNowClicked() {
      ;(this.onCancel && this.onCancel())
    }
  },
}
</script>
<style scoped>
.background-offset {
  position: absolute;
  top: 8px;
  left: -8px;
  right: 8px;
  bottom: -8px;
  background-color: rgba(244, 186, 99, 0.8);
  z-index: -999;
}
.signup-email-internal-container {
  background-color: #333B3F;
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(80vw - 64px);
}
.signup-email-header-text {
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
  color: white;
  font-weight: bold;
}
.signup-email-button {
  background-color: #68AEFA;
  color: #231F20;
  width: 100%;
  height: 54px;
  font-weight: bold;
}
.dark-text-link {
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  margin: 20px;
  cursor: pointer;
}
</style>
