<template>
  <popup>
    <div
      class="signup-internal-container"
      :style="{
        minWidth: $store.state.mobile ? undefined : '407px',
      }"
    >
      <div class="signup-header-text">
        Welcome
      </div>
      <div class="signup-subheader-text">
        Create an account to experience all that Galactivity has to offer.
      </div>
      <entry-field
        label="Email address"
        placeholder="Email address"
        :value="this.email"
        :readonly="true"
        style="margin-top: 20px; margin-bottom: 20px"
      >
      </entry-field>
      <entry-field
        ref="confirmEmailInput"
        label="Confirm email"
        placeholder="Confirm email"
        v-model="emailConfirm"
        style="margin-bottom: 20px"
      >
      </entry-field>
      <entry-field
        label="First name"
        placeholder="First name"
        v-model="firstName"
        style="margin-bottom: 20px"
      >
      </entry-field>
      <entry-field
        label="Last name"
        placeholder="Last name"
        v-model="lastName"
        style="margin-bottom: 20px"
      >
      </entry-field>
      <entry-field
        label="Password"
        placeholder="Password"
        :isPassword="true"
        v-model="password"
        style="margin-bottom: 20px"
        :onEnter="submitClicked"
      >
      </entry-field>
      <div class="password-info-text">
        Password must be 8 characters long and contain one number.
      </div>
      <square-button class="signup-button" :onClick="submitClicked">
        {{ this.loading ? 'Loading...' : 'Sign Up' }}
      </square-button>
      <div
        class="dark-text-link"
        v-on:click="this.notNowClicked"
      >
        Go back to login
      </div>
      <div class="background-offset"></div>
    </div>
  </popup>
</template>
<script>
export default {
  props: ['onCancel', 'email', 'onComplete'],
  data() {
    return {
      loading: false,
      emailConfirm: '',
      firstName: '',
      lastName: '',
      password: '',
    }
  },
  mounted() {
    this.$refs.confirmEmailInput.focus()
  },
  methods: {
    async submitClicked() {
      try {
        if (this.loading) return
        this.loading = true
        if (password.length < 8) {
          // invalid password
        }
      } catch (err) {
        console.log(err)
        console.log('Error signing up')
      } finally {
        this.loading = false
      }
    },
    notNowClicked() {
      ;(this.onCancel && this.onCancel())
    }
  },
}
</script>
<style scoped>
.background-offset {
  position: absolute;
  top: 8px;
  left: -8px;
  right: 8px;
  bottom: -8px;
  background-color: rgba(244, 186, 99, 0.8);
  z-index: -999;
}
.signup-internal-container {
  background-color: #333B3F;
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(80vw - 64px);
}
.signup-header-text {
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
  color: white;
  font-weight: bold;
}
.signup-subheader-text {
  font-size: 14px;
  line-height: 22px;
  color: white;
  max-width: 300px;
}
.password-info-text {
  font-size: 12px;
  line-height: 18px;
  color: white;
  align-self: flex-start;
  margin-bottom: 20px;
  text-align: left;
}
.signup-button {
  background-color: #68AEFA;
  color: #231F20;
  width: 100%;
  height: 54px;
  font-weight: bold;
}
.dark-text-link {
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  margin: 20px;
  cursor: pointer;
}
</style>
