<template>
  <popup>
    <div
      class="signin-internal-container"
      :style="{
        minWidth: $store.state.mobile ? undefined : '407px',
      }"
    >
      <div class="signin-header-text">
        Welcome back!
      </div>
      <div class="signin-subheader-text">
        Please enter your password.
      </div>
      <entry-field
        label="Email address"
        placeholder="Email address"
        :value="this.email"
        :readonly="true"
        style="margin-top: 20px; margin-bottom: 20px"
      >
      </entry-field>
      <entry-field
        ref="passwordInput"
        label="Password"
        placeholder="Password"
        :isPassword="true"
        v-model="password"
        style="margin-bottom: 20px"
        :onEnter="submitClicked"
      >
      </entry-field>
      <square-button class="signin-button" :onClick="submitClicked">
        {{ this.loading ? 'Loading...' : 'Log in' }}
      </square-button>
      <div
        class="dark-text-link"
        v-on:click="this.onForgotPassword"
      >
        Forgot password
      </div>
      <div class="background-offset"></div>
    </div>
  </popup>
</template>
<script>
export default {
  props: ['email', 'onSignIn', 'onCancel', 'onForgotPassword'],
  mounted() {
    this.$refs.passwordInput.focus()
  },
  methods: {
    async submitClicked() {
      try {
        this.loading = true
        await new Promise(r => setTimeout(r, 1500))
        window.location.href = "https://galactivity.com/activities"
      } catch (err) {
        console.log(err)
        console.log('Error logging in')
      } finally {
        this.loading = false
      }
    }
  },
  data() {
    return {
      loading: false,
      showingPassword: false,
      password: '',
    }
  }
}
</script>
<style scoped>
.background-offset {
  position: absolute;
  top: 8px;
  left: -8px;
  right: 8px;
  bottom: -8px;
  background-color: rgba(244, 186, 99, 0.8);
  z-index: -999;
}
.signin-internal-container {
  background-color: #333B3F;
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: calc(80vw - 64px);
}
.signin-header-text {
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
  color: white;
  font-weight: bold;
}
.signin-subheader-text {
  font-size: 14px;
  line-height: 22px;
  color: white;
  max-width: 300px;
}
.signin-button {
  background-color: #68AEFA;
  color: #231F20;
  width: 100%;
  height: 54px;
  font-weight: bold;
}
.dark-text-link {
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  margin: 20px;
  cursor: pointer;
}
</style>
