<template>
  <div
    class="square-button"
    @mouseover="active = true"
    @mouseleave="active = false"
    :style="{
      boxShadow: active ? '-2px 2px 0px rgba(0, 0, 0, 0.25)' : undefined,
    }"
    v-on:click="this.buttonClick"
  >
    <div class="square-button-inner">
      <slot></slot>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['onClick'],
    methods: {
      async buttonClick(e) {
        e.stopPropagation()
        if (typeof this.onClick === 'function') {
          await this.onClick()
        }
      }
    },
    data() {
      return { active: false }
    }
  }
</script>
<style scoped>
.square-button {
  background-color: #F2F2F2;
  width: 247px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.square-button-inner {
  font-size: 16px;
  line-height: 24px;
  color: #231F20;
}
</style>
