<template>
  <div>
    <div v-if="!$store.state.mobile" class="title-section-container">
      <div style="flex: 1;"></div>
      <img class="fireworks-image" src="/fireworks.svg" />
      <div class="title-content">
        <div class="title-text">
          Discover. Go. Share.
        </div>
        <div class="subtitle-text">
          Activities and events for every budget.
        </div>
        <round-button>
          Start browsing
        </round-button>
      </div>
    </div>
    <div v-if="$store.state.mobile" class="title-section-container-mobile">
      <img class="fireworks-image-mobile" src="/fireworks_mobile_new.svg" />
      <div class="title-text-mobile">
        Discover. Go. Share.
      </div>
      <div class="subtitle-text-mobile">
        Activities and events for every budget.
      </div>
      <round-button style="margin-bottom: 16px">
        Start browsing
      </round-button>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<style scoped>
.title-section-container {
  position: relative;
  padding-top: 10px;
  height: 711px;
  display: flex;
  align-items: space-between;
  background-color: white;
}
.fireworks-image {
  margin-top: 28px;
  width: 1144px;
  height: 726px;
  transform: translate(48px, 0);
}
.title-content {
  position: absolute;
  left: 10%;
  top: 151px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #231F20;
  margin-bottom: 23px;
}
.subtitle-text {
  font-size: 48px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #231F20;
  margin-bottom: 53px;
  /* max-width: 578px; */
}
.title-section-container-mobile {
  min-height: 768px;
  display: flex;
  background-color: #231F20;
  flex-direction: column;
  align-items: center;
}
.title-text-mobile {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: white;
  margin-top: 20px;
  margin-bottom: 16px;
  text-align: center;
}
.subtitle-text-mobile {
  font-size: 20px;
  line-height: 28px;
  color: white;
  max-width: 288px;
  margin-bottom: 20px;
  text-align: center;
}
.fireworks-image-mobile {
  width: 110%;
  height: auto;
  overflow: none;
  /* transform: scale(1.1, 1.1); */
}
</style>
